@model IEnumerable<CarritoCompras.Models.Compra>

@{
    ViewData["Title"] = "Compras del mes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de compras del mes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>            
        </tr>
}
    </tbody>
</table>
