@model IEnumerable<CarritoCompras.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categorias</h1>
@{
    if (User.IsInRole("Empleado"))
    {
        <p>
            <a asp-action="Create">Crear categoria</a>
        </p>
    }

}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            @{
                if (User.IsInRole("Empleado"))
                {
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> 
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="MostrarProductosPorCategoria" asp-controller="Productos" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Nombre)</a>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                }

            }
        </tr>
        }
    </tbody>
</table>
