@model IEnumerable<CarritoCompras.Models.Sucursal>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sucursales</h1>
@if (User.IsInRole("Empleado"))
{
    <p>
        <a asp-action="Create">Nueva Sucursal</a>
    </p>
}
else if (User.IsInRole("Cliente"))
{
    <p>
       <h3>Seleccione una sucursal para retirar su compra</h3>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            @if (User.IsInRole("Empleado"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            }

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                @if (User.IsInRole("Empleado"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    </td>
                }
                @if (User.IsInRole("Cliente"))
                {
                    <td>
                        <a asp-action="VerificarStock" asp-controller="Compras" asp-route-userName="@User.Identity.Name" asp-route-sucursalId="@item.Id">Seleccionar</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
<div>
    @if (User.IsInRole("Cliente"))
    {
        <a asp-action="MostrarCarrito" asp-controller="CarritoItems" asp-route-email="@User.Identity.Name">Volver al carrito</a>
    }
    </div>
