@model CarritoCompras.Models.CarritoItem

@{
    ViewData["Title"] = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>
@{
    if (Model.Cantidad == 1)
    {
        <h3>¿Seguro que desea eliminar el producto?</h3>
    }
    else
    {
        <h3>¿Seguro que desea eliminar los productos?</h3>
    }
}
<div>
    <h4>@ViewData["ProductoNombre"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producto.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="MostrarCarrito" asp-route-email="@User.Identity.Name">Volver al carrito</a>
    </form>
</div>
