@model IEnumerable<CarritoCompras.Models.CarritoItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto.PrecioVigente)
            </th>
            <th>
                Parciales
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.PrecioVigente)
                </td>
                <td>
                    $@(item.Cantidad*item.Producto.PrecioVigente)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    <tr>
        <td ></td>
        <td ></td>
        <td ></td>
        <td >Subtotal</td>
        <td>
            @{
                double total = 0;
                foreach (var item in Model)
                {
                    total = total + (item.Cantidad * item.Producto.PrecioVigente);

                }
                <p>$@total</p>
            }
        </td>
    </tr>
    </tbody>
</table>




















@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
